/* font family */
@import url(./fonts.css);

/* variables */
@import url(./_variables.css);

/* global styles */
@import url(./_global.css);
/* nav start */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    /* padding: 1rem 20rem; */
    padding: 1rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    /* font-family: var(--roboto); */
    text-transform: uppercase;
    /* font-weight: 500; */
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* nav end */

/* banner start */
.site-main .site-banner{
    background: url(../img/banner/home-banner.jpg);
}
.site-main .site-banner .site-title h3{
    padding-top: 5rem;
}
.site-main .site-banner .site-title h1{
    font-size: 4rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
    /* padding: 2rem 0; */
    width: 90rem;
}
/* banner end */

/* project portfolio start

/* project end