/* ==================================== */
/* =========== Global style =========== */
/* ==================================== */

:root {
    --pink      : #ff4c68;
    --light-pink: #ef8172;
    --orange    : #ffb56b;
    --white     : #fff;
    --black     : #000;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    overflow-x     : hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    text-align : center;
    /* color   : var(--white); */
}

em {
    font-weight: bold;
    position   : relative;
    top        : -1rem;
}

/* ==================================== */
/* ========= Grouped selector ========= */
/* ==================================== */

h1,
h2 {
    line-height: 1.5;
}

p,
em {
    font-size: 1.5rem;
}

/* ==================================== */
/* ====== Bootstrap custom style ====== */
/* ==================================== */

.container-fluid {
    padding: 3% 15%;
}

.col-lg-6 {
    text-align: center;
    padding   : 0 2rem;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Navigation bar */

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.8rem;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size  : 2.5rem;
    font-weight: bold;
}

/* ==================================== */
/* ============= section  ============= */
/* ==================================== */

.section,
.card-header {
    background: radial-gradient(circle at 50% 50%, #ff4c68, #ff5e63, #ff6e5f, #ff7e5d, #ff8c5e, #ff9a60, #ffa864, #ffb56b);
    color     : var(--white);

}

.section-title {
    font-size  : 2.5rem;
    font-weight: bold;
}

.section-text {
    font-size  : 3rem;
    font-weight: bolder;
}

.sub-text {
    color: #8f8f8f;
}

/* ==================================== */
/* ==============  Title  ============= */
/* ==================================== */

#title {
    width     : 100vw;
    overflow  : hidden;
    text-align: left;
}

#logo {
    width       : 30px;
    margin-right: 10px;
}

#iphone-img {
    transform: rotate(25deg);
    width    : 15%;
    position : absolute;
}

.icons {
    width: 35px;
}

.big-heading {
    font-size  : 5rem;
    font-weight: 900;
    font-style : italic;
    color      : var(--white);
}

/* ==================================== */
/* ============= Features ============= */
/* ==================================== */

#features {
    background-color: var(--white);
    position        : relative;
}

.feature-icon {
    width        : 6rem;
    margin-bottom: 1rem;
}

.feature-box {
    padding: 5%;
}

/* ==================================== */
/* =========== Testimonials =========== */
/* ==================================== */

.testimonial-image {
    border-radius: 100%;
    width        : 15%;
    margin       : 2rem 1rem 5rem;
}

#testimonaial .section-text {
    padding: 5% 10% 0;
}


/* ==================================== */
/* ============== Press =============== */
/* ==================================== */

#press {
    padding: 2%;
}

.press-image {
    width : 15%;
    margin: 20px 20px 50px;
}

/* ==================================== */
/* ============== Pricing ============= */
/* ==================================== */

.btn-danger:hover,
.btn-outline-danger:hover,
.card-header:hover {
    background: var(--pink);
}

/* ==================================== */
/* ============== footer  ============= */
/* ==================================== */

#footer {
    padding: 20px;
}

.footer-btn {
    margin: 2% 1% 4%;
}

.social-media-icons {
    width       : 30px;
    margin      : 1rem;
    margin-right: 2%;
}

/* ==================================== */
/* ============ media query =========== */
/* ==================================== */

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    #iphone-img {
        transform    : rotate(0);
        width        : 50%;
        position     : relative;
        margin-bottom: 1rem;
    }
}