/* ------------------------ */
/* ------- meals ---------- */
/* ------------------------ */

.meals-showcase {
    list-style     : none;
    width          : 100%;
    margin         : 0;
    padding        : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.meals-showcase li {
    display: inline-block;
    width  : 55%;
}

.meal-photo {
    width     : 100%;
    margin    : 0;
    overflow  : hidden;
    background: rgba(0, 0, 0, 0.438);
}

.meal-photo img,
.city-img {
    width  : 100%;
    height : auto;
    opacity: 0.8;
}

.meal-photo img:hover {
    transform : scale(1.5);
    opacity   : 1;
    transition: transform 1s, opacity .5s;
}