@media only screen and (min-width:1350px) {
    img.app-screen {
        width: 35%;

    }
}


/* for laptop and big screens */
@media only screen and (min-width:1200px) {

    .test {
        width: 30%;
    }

}

/* for tablet to big tablet */
@media only screen and (min-width:991px) {
    img.city-icon {
        margin-left: 0;
    }

    ul.plan-feature,
    ul.plan-feature img {
        padding: 0;
    }

    ul.plan-feature img {
        width: 20px;
    }

}

/* for small mobile and small tablet */
@media only screen and (max-width:798px) {
    img.app-screen {
        width: 100%;

    }

    .test {
        width: 100%;
    }

    ul.plan-feature,
    ul.plan-feature img {
        padding: 0;
    }

    ul.plan-feature img {
        margin-right: .5rem;
        width       : 20px;
    }

    div {
        padding      : 0;
        margin-bottom: .5rem;
    }


}

@media only screen and (max-width:768px) {
    .left {
        display: none;
    }

    .right {
        display: block;
    }

    .container {
        padding: 0;
    }

    .contact-box {
        display: block;
    }

    h2,
    .section-header {
        margin-top: 1rem;
    }
}


/* for small mobile only */
@media only screen and (max-width:481px) {

    .city-name,
    h3 {
        font-size: 4vw;
    }

    .f-img {
        width: 4rem;
    }

    .f-para {
        font-size: 3.5vw;
    }

    .long-copy {
        font-size: 3.5vw;
    }

    .works-para {
        font-size: 4vw;
    }

    a.btn.btn-warning,
    a.btn.btn-outline-warning {
        padding: 10px;
    }

    .btn-app img {
        margin: 0;
    }

    ul.plan-feature,
    ul.plan-feature img {
        padding: 0;
    }

    ul.plan-feature img {
        margin-right: .5rem;
        width       : 20px;
    }

    .plan-box {
        padding    : 0;
        margin-left: 0;
        width      : 100%;
    }

    div {
        padding      : 0;
        margin-bottom: .5rem;
    }

    .row {
        padding: 1rem;
    }

    .city-img,
    .city-icon {
        margin: 0;
    }
}