/* ------------------------ */
/* ---- Testimonials------ */
/* ------------------------ */

.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}
.test-width{
    justify-content: space-around;
}
.test{
    width: 350px;
    margin-bottom: 1rem;
}

blockquote::before{
    content: "\201c";
    font-size: 200%;
    font-weight: bolder;
    color: #F06A16;
}
blockquote{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;

}
cite{
    color: #fff;
    font-weight: 800;
}
cite img{
    height: 80px;
    border-radius: 50%;
}