/* ------------------------ */
/* -------- Cities -------- */
/* ------------------------ */

.city-name{
    display: block;
    font-style: italic;
    font-size: 1.2rem;
    color:#e67e22;
}

.section-cities{
    background: #82e7473b;
}
.city-img{
    border-radius: 20px;
    margin: 1rem 0;
    transform: scale(0.9);

}
.city-img:hover{
    transform : scale(1);
    opacity   : 1;
    transition: transform .5s, opacity .5s;
}

.city-icon{
    margin-bottom:1rem;
    margin-left: 2rem;
    width: 40px;
    height: 40px;
    border: 3px solid #8316F0;
    border-radius: 50%;
}

.twitter-link{
    color: #8316F0;
    text-decoration: none;
    font-style: italic;
font-weight: bold;
}

.twitter-link:hover{
    color: #8316F0;
    text-decoration: underline;
}
