.contact-form {
    width : 60%;
    margin: 0 auto;
    border: 1px solid tomato;
}

textarea,
input[type=text],
input[type=email],
input[type=number],
select {
    width        : 100%;
    padding      : 7px;
    border-radius: 13px;
    border       : 1px solid rgb(71, 129, 255);
}