/* ------------------------ */
/* ----- global style -----*/
/* ------------------------ */
html {
    scroll-behavior: smooth;
}

* {
    margin-right: 0;
    padding     : 0;
    box-sizing  : border-box; 
}

body {
    background-color   : aliceblue;
    color              : black;
    font-family        : 'Lato', 'Arial', 'sans-serif';
    /* font-weight     : bold; */
    /* font-size          : 1.4rem; */
}

strong {
    color: #8316F0;
}

h1,
h2 {
    color         : whitesmoke;
    margin        : 0;
    font-weight   : 400;
    text-transform: uppercase;
    text-shadow   : 0 0 10px whitesmoke;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size : 4vw;
    text-align: center;
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50%;
    border-radius: 2px;
    background-color: #2ecc71;
    }
    
h3 {
    text-transform: uppercase;
    border-bottom : 3px solid #8316F0;
    display       : inline-block;
    margin-left   : 1rem;
    font-size     : 1.2rem;
    font-weight   : 900;
    color         : #fff;

}

.row {
    padding: 2rem 4rem;
    margin : 0;
}

.box {
    font-style      : italic;
    border-radius   : 20px;
    box-shadow      : 0 0 35px rgba(228, 183, 86, 0.486);
    background-color: rgba(255, 255, 255, 0.05);
    filter          : blur(0.2px);
    border-width    : 1px;
    border-style    : solid;
    border-color    : rgba(255, 255, 255, 0.425);
}

.section-header {
    color      : #8316F0;
    font-weight: 600;
    font-style : italic;
    text-align : center;
    margin-top: 4rem;
}

.section-header:after {
    display         : block;
    background-color: #e67e22;
    content         : " ";
    width           : 100px;
    height          : 3px;
}

hr{
    background-color: whitesmoke;
}

ul li{
    list-style: none;
}

.plan-feature img{
    padding-right : 1rem;
} 

